@model RestoranNikolic.Projekat.Models.Meni

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Meni</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RestoranID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestoranID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pizza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pizza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rostilj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rostilj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alkohol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alkohol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kafa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kafa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BezalkoholnaPica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BezalkoholnaPica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
