@model IEnumerable<RestoranNikolic.Projekat.Models.Lokacije>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ZakazivanjeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojTelefona)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ZakazivanjeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BrojTelefona)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LokacijeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LokacijeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LokacijeID })
        </td>
    </tr>
}

</table>
